.Versus {
    background: #fff;
    /*display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden; */
}

body {
    display: block;
}

.versus_react-autosuggest__suggestions-container--open {
    border-color: #000;
    border-style: solid;
    border-width: 4px;
    max-height: 300px;
    overflow: auto;
}

.versus_react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
}

.versus_react-autosuggest__suggestions-list li {
    list-style: none;
    padding: 5px;
}

.versus_react-autosuggest__suggestions-list li:hover {
    background: grey;
}

.Versus .divide-vs {
    align-self: start;
}

.Versus-Card .hold-badge {
    position: absolute;
    right: 30px;
    bottom: -20px;
}

.Versus-Card .hold-badge span.count-votes {
    padding: 0 5px;
}

.Versus-Card .hold-badge span.count-votes,
.Versus-Card .hold-badge.is-icon span:last-child {
    width: auto;
}

.Versus-Card .hold-badge.is-icon span:last-child {
    font-size: inherit;
}
